---
title: Kontak
---

<p>Halo! <a href="http://nyan.catcyb.org/about.html" target="_blank">Saya</a> tulis ini supaya siapapun yang bisa pemrograman komputer dapat mengenal <a href="http://www.ruby-lang.org/en/" target="_blank">Ruby</a> dengan cepat. Snippet di situs ini sudah dites pada Ruby 1.9.3, jadi kemungkinan besar tidak berlaku pada versi Ruby terdahulu. Jangan malu-malu kirim kritik dan saran melalui email ke <a href="mailto:thecatcyborg+jpruby@gmail.com">thecatcyborg+jpruby@gmail.com</a></p>